/* Estilos Gerais */
body {
    font-family: 'Inter', sans-serif;
}

/* Classe para a imagem de fundo da seção Hero */
.hero-bg {
    background-image: url('/img/christopher-campbell-kFCdfLbu6zA-unsplash.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}

