/* Estilos Gerais */
body {
    font-family: 'Inter', sans-serif;
}

/* Classe para a imagem de fundo da seção Hero */
.hero-bg {
    background-image: url('img/Img1.jpg');
    background-size: cover;
    background-position: center;
}

